@import "tailwindcss";

/* You can add custom CSS variables or base styles below */
:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}